.pre-board-view {
    width: 190px;
    height: 96px;
    padding: .2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: lightblue;
    transition: all .3s ease-in-out;
}

.pre-board-view:hover{
    filter: grayscale(40%);
}

.pre-board-view p{
    margin: .2rem 0 0 .2rem;
    text-align: left;
    font-size: 1.2rem;
}