.your-way-card-box{
    flex: 0 0 calc(33% - 1rem);
    margin: auto;
}

.your-way-card img{
    width: 270px;
}

.your-way-card h3{
    font-family: "Charlie Text", sans-serif;
    font-size: 1.9rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
}
.your-way-card{
    font-family: "Charlie Text", sans-serif;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    line-height: 1.5;
}

.your-way-card button{
    font-family: "Charlie Text", sans-serif;
    font-size: 1.25rem;
    height: 44px;
    padding: 0 1rem;
    color: #FFFFFF;
    background-color: #6D8EA2;
    border-color: #6D8EA2;
    border-style: none;
    border-radius: .4rem;
}