.personal-board-title{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: .5rem
}

.personal-boards-box h4{
    margin-left: .4rem;
}

.user-icon{
    font-size: 1.2rem;
}

.boards-personal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}