.modal-wrapper {
    position: fixed;
    width: 304px;
    will-change: top, left;
    top: 70px;
    right: 10px;
    border-color: darkgrey;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FFFFFF;
    font-weight: 400;
    z-index:2;

}
.modal-header {
    margin-bottom: 8px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 12px 1fr 12px;
}

.modal-title-navbar {
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid rgba(9,30,66,.13);
    color: #5e6c84;
    height: 40px;
    display: block;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-column: 1/span 3;
    grid-row: 1;
}

.modal-content {
    margin-bottom: 8px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    display: block;
    grid-template-columns: 12px 1fr 12px;
}


.button-close-modal {
    grid-column: 3;
    grid-row: 1;
    background: transparent;
    border: none;
    color: #6b778c;
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 2;
    outline: none;
}

.modal-close-container {
    height: auto;
    width: auto;
    display: inline-block;
    fill: rgb(255, 255, 255);
    flex-shrink: 0;
    line-height: 1;
}


.link-body {
    border-radius: 3px;
    display: block;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;

}

.img-content {
    background-color: rgb(240, 173, 131);
    border-radius: 3px;
    display: block;
    height: 170px;
}

.trelloguide-img {
    border-radius: 3px;
    display: fixed;
    width: 100%;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.title-content {
    margin: 0;
    min-height: 40px;
    padding: 8px;
}