.menu-text{
  display: flex;
  justify-content: start;
  text-align: left;
  margin-bottom: .5rem;
  width: 200px;
  cursor: pointer;
  border-radius: .3rem;
  font-weight: 500;
}

.menu-icon{
  margin-right: .5rem;
}

.menu-text:hover{
  background-color: #d6dede;
}

.menu-text.active {
  background-color: #e4f0f6;
  color: #0079bf;
}

.menu-text.active .menu-icon{
  color: #0079bf;
}

.menu-items-left {
  font-weight: bold;
  align-self: center;

}

